#### Day Objectives
- variable declaration
- Data types and Conversions
- arithmetic Operation by using python
- indentation
- how to take input from dynamically
- condition statements in python

In [7]:
print("hello world")
print("hi",end=" ")
print("good evening")

hello world
hi good evening

#### Variable Declaration

In [9]:
n=4             # single variable declaration
n2=n3=n4=n      # mutiple variable declaration
print(n,n2,n,n4)
a,b,c=1,2,3     # mutiple variable declaration with different
print(a,b,c)

4 4 4 4
1 2 3

#### Data types and Conversions
- int 
- float
- string

In [10]:
n=12
type(n)

int

In [11]:
n1=6.009
type(n1)

float

In [15]:
n2="tarun"
type(n2)

str

In [17]:
n3=56.76                   # conversin of float to int
int(n3)

56

In [20]:
str(int(n3))               # coversion of int to string

'56'

In [23]:
float(str(int(n3)))        # convertion of str to float

56.0

#### Arithmetic Operations by using python

In [28]:
n1=4
n2=6
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1/n2)           # with decimal values
print(n1//n2)          # with out decimal values
print(n1%n2)
print(n1**n2)          # power of 2 numbers

10
-2
24
0.6666666666666666
0
4
4096

#### indentation

In [29]:
a=8
b=9
if b>a:
    print(b)

9

In [1]:
a=int(input())
if a%2==0:
    print("even")
else:
    print("odd")

23
odd

In [2]:
a=int(input())
if a%400==0 and a%100!=0 or a%4==0:
    print("leap")
else:
    print("not a leap")

1996
leap

In [3]:
n=int(input())
print(n)

6
6

#### condition statements in python
- if
- elif
- else
- nested if

In [8]:
n=int(input())   
lb=int(input())  
ub=int(input()) 
if n>lb and n<ub:
    print("yes")
else:
    print("no")

7
1
5
no

In [10]:
n=int(input())
if n%10==0:
    print("number is divisible by 10")
else:
    print("not divisible by 10")

50
number is divisible by 10

In [13]:
n=int(input())
if 1000%n==0:
    print("factor of 1000")
else:
    print("not a factor 1000")

5
factor of 1000

In [19]:
s1="123"
n1=1234
if str(n1)==s1:
    
    print(n1,"is equal to",s1)
else:
    
    print(n1,"is not equal to",s1)

1234 is not equal to 123

In [22]:
y=2015
if(y%400==0 or (y%100!=100 and y%4==0)):
    
    print(366 * 24 * 60 * 60 *(10**9))
else:
    print(365 * 24 * 60 * 60 *(10**9))

31536000000000000